.tiers{
    margin-top: 100px;
    padding: 32px 16px;
}
.bg-head-f{
    
    background: #9c3973;
}
.bg-body-f{
    background: #ba468a;
}
.bg-head-s{
    background: #9c3973;
    
}
.bg-body-s{
    background: #ba468a;
}
.bg-head-t{
    background: #9c3973;
}
.bg-body-t{
    background: #ba468a;
}
/* .bg-img-f{
    background: url(../../assets/bot-1.png);
    background-repeat: no-repeat;
} */
.tier-container{
    font-family: 'Roboto';
    border-radius: 12px;
    display: grid;
    padding: 50px 0px;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
}
.tier-head {
    display: flex;
    align-items: center;
    padding: 16px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.tier-head span {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}
.tier-head-img {
    margin-right: 10px;
}
.tier-bdy{
    /* padding-top: 60px; */
    position: relative;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.tier-body-h {
    height: 180px;
}
.bg-img-f{
    position: absolute;
    top: 10px;
    right: 0;
}
.bg-img-s{
    position: absolute;
    top: 7px;
    right: 0;
}
.bg-img-t{
    position: absolute;
    top: 13px;
    right: 0;
}
@media(max-width:1420px){
    .tier-body-h {
        height: 300px;
    }
}
@media(max-width:1000px){
    .tier-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 2%;
    }
    .tier-body-h {
        height: auto ;
    }
}
@media(max-width:600px){
    .tier-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 2%;
    }
    .tier-body-h {
        height: auto;
    }
}