
.swiper-section{
    height: 350px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  cursor: grab;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
    max-width: 400px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slick-slide div img {
  max-width: 400px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-slider .slick-arrow {
  display: none !important;
}
@media (max-width:768px){
  .swiper-section{
    margin: 100px 0px 100px 0px;
    height: fit-content;
  }
}